{% extends 'base.html' %} {% import 'macros.html' as macro%}

<!-- styles block -->
{% block styles%}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}" />
{% endblock styles%} 

{% block content %}

<div class="container">
  <div id="row-griddy">
    <section class="sources">
      <h2 class="text-center">Business</h2>
      <div class="row">
        {{ macro.displayNewsSource(business) }}
      </div>
    </section>

    <section class="sources">
      <h2 class="text-center">Entertainment</h2>
      <div class="row">
        {{ macro.displayNewsSource(entertainment) }}
      </div>
    </section>

    <section class="sources">
      <h2 class="text-center">sports</h2>
      <div class="row">
        {{ macro.displayNewsSource(sports) }}
      </div>
    </section>

    <section class="sources">
      <h2 class="text-center">health</h2>
      <div class="row">
        {{ macro.displayNewsSource(health) }}
      </div>
    </section>

    <section class="sources">
      <h2 class="text-center">science</h2>
      <div class="row">
        {{ macro.displayNewsSource(science) }}
      </div>
    </section>

    <section class="sources">
      <h2 class="text-center">General</h2>
      <div class="row">
        {{ macro.displayNewsSource(general) }}
      </div>
    </section>

    <section class="sources">
      <h2 class="text-center">technology</h2>
      <div class="row">
        {{ macro.displayNewsSource(tech) }}
      </div>
    </section>
  </div>
</div>
{% endblock %}