{% macro displayNewsSource(source_list) %} 
{% for newsSource in source_list %}
<a href="/newswatch/{{ newsSource.id }}">
  <div class="col-md-4 col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <a href="/newswatch/{{ newsSource.id }}">{{ newsSource.name }}</a>
        {{ newsSource.name }}
      </div>
    </div>
  </div>
  </a>
{%endfor%} {% endmacro %}

<!-- Articles Macro(major) -->
{% macro displayMajorArticle(major)%}
<div class="col-sm-12 mb-3">
  <div class="row" id="major-block-row">
    <div class="col-sm-12 col-md-8 major-img">
      <img
        src="{{ major.urlToImage }}"
        alt="{{ major.title }}"
        class="img-responsive"
      />
    </div>
    <div class="col-sm-12 col-md-4" id="major-content">
      <h5 class="text-muted">{{ major.author }}</h5>
      <h2 class="text-title">
        <a href="{{ major.url }}">{{ major.title }}</a>
      </h2>
      <p class="lead">{{ major.content | truncate(200) }}</p>
      <span class="text-muted"> last updated:{{ major.publishedAt }}</span>
    </div>
  </div>
</div>
{%endmacro%}
<!-- end of major marco block -->

<!-- major block 2 macro -->
{% macro displayMajor2Articles(major2)%}  {%for article in major2 %}
<div class="col-sm-12 mb-3">
    <div class="row" id="major-block2-row">
            <div class="col-sm-12  col-md-6 col-lg-4 major-img">
        <img
          src="{{ article.urlToImage }}"
          alt="{{ article.title }}"
          class="img-responsive"
        />
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4" id="major-content">
        <h5 class="text-primary">{{ article.author }}</h5>
        <h2 class="text-title">
          <a href="{{ article.url }}">{{ major.title }}</a>
        </h2>
        <p class="lead">{{ article.content }}</p>
        <span class="text-muted">Last Updated:{{ article.publishedAt }}</span>
      </div>
      {% endfor%} {% endmacro %}

      <!-- latest macro -->
      {% macro displayLatestArticles(latest) %} {% for article in latest%}
  <div class="col-sm-12 mb-3">
  <div class="row inside-cols">
    <div class="col-sm-4 img-cols">
      <img
        src="{{ article.urlToImage }}"
        alt="{{ article.title }}"
        class="img-responsive article-img"
      />
    </div>
    <div class="col-sm-8 article-info">
      <h5 class="text-muted">{{ article.author }}</h5>
      <h2><a href="{{ article.url }}">{{ article.title }}</a></h2>
      <p class="lead">{{ article.content | truncate(150)}}</p>
      <span class="text-muted">{{ article.publishedAt }}</span>
    </div>
  </div>
</div>
{% endfor %}
{% endmacro %}
<!-- end the latest articles -->

{% macro displayNewsArticles(article_list) %} {% for article in article_list %}
<div class="col-sm-12 mb-3">
  <div class="row inside-cols">
    <div class="col-sm-4 img-cols">
      <img
        src="{{ article.urlToImage }}"
        alt="{{ article.title }}"
        class="img-responsive article-img"
      />
    </div>
    <div class="col-sm-8 article-info">
      <h5 class="text-muted">{{ article.author }}</h5>
      <h2>{{ article.title }}</h2>
      <p class="lead">{{ article.description }}</p>
      <span class="text-muted">{{ article.publishedAt }}</span>
      <span><a href="{{ article.url }}">Read More...</a></span>
    </div>
  </div>
  </div>
    </div>
  </div>
  {% endfor %} {% endmacro%}