{% extends 'base.html'%} {% import 'macros.html' as macro %}
<!-- content block -->

<!-- styles block -->
{% block styles%}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}" />
{% endblock styles%} {% block content %}
<div class="container">
    <h2>{{ title | upper }}</h2>
        <div class="row major1">
                {{macro.displayMajorArticle(majorArticle)}}
            </div>
    <div class="row major2">
            {{ macro.displayMajor2Articles(major2Article) }}
            <header class="header">
        <h2>latest</h2>
        </header>
        <hr />
        </div>
    </div>
{% endblock content%}