{% extends 'base.html'%}
<!-- content block -->

{% block content %}
<div class="container">
    <div class="row">
        {% for article in articles %}
        <div class="col-12 mb-3">
            <div class="row inside-cols">
                <div class="col-4 img-cols">
                    <img src="{{article.urlToImage}}" alt="{{article.title}}" class="img-responsive article-img">
                </div>
                <div class="col-8 article-info">
                    <h5 class="text-muted">{{article.author}}</h5>
                    <h2>{{article.title}}</h2>
                    <p>{{article.desc}}</p>
                </div>
            </div>
        </div>
        {% endfor%}
    </div>
</div>
{% endblock content%}